@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* 
{
  margin: auto; padding: 0; box-sizing: border-box;
  color: #FF0000;
  text-align: center;
  text-transform: capitalize;
  text-shadow: none;
  font-family: 'Calligraffitti', cursive;
  background-color: black;
}
h1 {
  padding: 20px 30px;
  border-radius: 20px;
}

div {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  margin: auto; padding: 0%; box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  text-shadow: white;
  margin-top: -30px;

}